<div class="form-group mb-3" [formGroup]="queryForm">
    <input type="text" #queryRef formControlName="query" class="form-control">

    <ng-container *ngIf="queryForm.get('query') as field">
        <ng-container *ngIf="field.dirty || field.touched">

            <p *ngIf="field.hasError('required')">
                Field is required!
            </p>

            <p *ngIf="field.getError('minlength') as error">
                Minimum length is {{error.requiredLength}}
            </p>

            <p *ngIf="field.getError('censor') as error">
                Cannot include "{{error.badword}}"
            </p>

        </ng-container>
    </ng-container>


</div>

<!-- <validation-helper [field]="queryForm.get('query') "></validation-helper> -->



<!-- <div *ngFor="let error of queryForm.get('query').errors  | keyvalue ">
        {{error | json}} 
    </div> -->