<!-- .row*2>.col -->


<div class="row">
    <div class="col">
        <app-search-form (queryChange)="search($event)" [query]="query$ | async">
        </app-search-form>
    </div>
</div>
<div class="row">
    <div class="col">

        <p>Found {{ (albums$ | async)?.length }} results</p>


        <p class="text-danger">
            {{message}}
        </p>

        <app-search-results [albums]="albums$ | async">
        </app-search-results>
    </div>
</div>